// Start Typography
.gnx-header {
    color: $gnx-color;
    font-size: 55px;
    font-weight: bold;
}

.h3-style {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
// End Typography